.navbar {
  background-color: var(--color-primary);
  height: 74px;
  width: 100vw;
  padding: 0px 32px;
  background-color: #34c94b;
  padding: 20px;
}
.navbar__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
